	@font-face {
    	font-family: "arcade";
    	src: url("./fonts/arcadeclassic.ttf");
	}

	@font-face {
    	font-family: "dpcomic";
    	src: url("./fonts/dpcomic.ttf");
	}

	@font-face {
    	font-family: "joystix";
    	src: url("./fonts/joystix-monospace.ttf");
	}

	body{
		width: 100%;
		margin: 0 auto;
		text-align:center;
		background: url("./images/space.gif");
	}

	h1{
		font-family: "joystix";
		font-size: 3em;
		color:#fff;
	}

	h2{
		font-family: "joystix";
		font-size: 2em;
		color:#fff;
	}

	a{
		text-decoration: none;
	}

	.main{
		margin: 2em;
		padding: 0em;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
	}

	h1:hover{
		color:rgb(102, 15, 130);
		text-shadow: 2px 2px #fff;
	}

	#end_in{
		color: #fff;
	}

	.tablero {
		margin: 0px auto;
	}

	.tecla{
		min-width: 6em;
		min-height: 6em;
		display: inline-block;
		margin: 0em;
		padding: 0em;
		border: 4px solid #000;

		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 10px;
		background: #dddddd;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#dddddd');
		background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
		background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
		background: -moz-linear-gradient(top, #eeeeee, #dddddd);
		background: -ms-linear-gradient(top, #eeeeee, #dddddd);
		background: -o-linear-gradient(top, #eeeeee, #dddddd);
		background: linear-gradient(top, #eeeeee, #dddddd);
		white-space: nowrap;

		line-height: 110%;
		letter-spacing: 0px;
		text-decoration: none;
		text-align: center;
		font-weight: bold;
		font-size: 100%;
		color: #333333;
		text-shadow: 0 1px 1px #999999;
		/* text-transform: uppercase; */
	}

	@media all and (max-width: 699px) {
		h1{ font-size: 2em}
	 	.main, .tablero{	margin: 0; padding: 0}
	  .tecla{ min-width: 4em; min-height: 4em; }
	}

	@media all and (max-width: 450px) {
	  .tecla{ min-width: 4em; min-height: 4em; }
	}

	@media all and (max-width: 270px) {
	  .tecla{ min-width: 3em; min-height: 3em; }
	}

	@media all and (max-width: 240px) {
	  	.tecla{ min-width: 2.5em; min-height: 2.5em; }
	}

	@media all and (max-width: 190px) {
		h1{ font-size: 1.5em}
	  	.tecla{ min-width: 2em; min-height: 2em; }
	}

	@media all and (max-width: 150px) {
		h1{ font-size: 1em}
	  	.tecla{ min-width: 1em; min-height: 1em; }
	}

	.tecla:hover{
		cursor: pointer;
		border-color: #fff;

		-webkit-box-shadow: 0px 0px 30px 2px rgba(255,255,255, 1);
		box-shadow: 0px 0px 30px 2px rgba(255,255,255, 1);
	}

	
	#tecla_:hover{
		background: #00FF00;
	}

	
	#tecla_1:hover{
		background: #40FF00;
	}

	
	#tecla_2:hover{
		background: #80FF00;
	}

	
	#tecla_3:hover{
		background: #BFFF00;
	}

	
	#tecla_4:hover{
		background: #FFFF00;
	}

	
	#tecla_5:hover{
		background: #FFBF00;
	}

	
	#tecla_6:hover{
		background: #FF8000;
	}

	
	#tecla_7:hover{
		background: #FF4000;
	}

	
	#tecla_8:hover{
		background: #FE2E2E;
	}

	
	#tecla_9:hover{
		background: #00FF80;
	}
	
	#tecla_10:hover{
		background: #00FFFF;
	}

	
	#tecla_11:hover{
		background: #00BFFF;
	}

	
	#tecla_12:hover{
		background: #0080FF;
	}

	
	#tecla_13:hover{
		background: #0040FF;
	}

	
	#tecla_14:hover{
		background: #4000FF;
	}

	
	#tecla_15:hover{
		background: #8000FF;
	}