<template name="game">

	<table class="tablero">
		
		<tbody><tr>
			<td>	<button class="tecla" id="tecla_0"> </button></td>
			<td>	<button class="tecla" id="tecla_1"> </button></td>
			<td>	<button class="tecla" id="tecla_2"> </button></td>
			<td>	<button class="tecla" id="tecla_3"> </button></td>
		</tr>

		<tr>
			<td>	<button class="tecla" id="tecla_4"> </button></td>
			<td>	<button class="tecla" id="tecla_5"> </button></td>
			<td>	<button class="tecla" id="tecla_6"> </button></td>
			<td>	<button class="tecla" id="tecla_7"> </button></td>
		</tr>

		<tr>
			<td>	<button class="tecla" id="tecla_8"> </button></td>
			<td>	<button class="tecla" id="tecla_9"> </button></td>
			<td>	<button class="tecla" id="tecla_10"> </button></td>
			<td>	<button class="tecla" id="tecla_11"> </button></td>
		</tr>

		<tr>
			<td>	<button class="tecla" id="tecla_12"> </button></td>
			<td>	<button class="tecla" id="tecla_13"> </button></td>
			<td>	<button class="tecla" id="tecla_14"> </button></td>
			<td>	<button class="tecla" id="tecla_15"> </button></td>
		</tr>

	</tbody></table>

</template>