<template name="game">
	<div class="tablero">
		<div class="row">
			<div class="tecla" data-row="1" data-collumn="1" ></div>
			<div class="tecla" data-row="1" data-collumn="2" ></div>
			<div class="tecla" data-row="1" data-collumn="3" ></div>
			<div class="tecla" data-row="1" data-collumn="4" ></div>
  		</div>

  		<div class="row">
			<div class="tecla" data-row="2" data-collumn="1" ></div>
			<div class="tecla" data-row="2" data-collumn="2" ></div>
			<div class="tecla" data-row="2" data-collumn="3" ></div>
			<div class="tecla" data-row="2" data-collumn="4" ></div>
  		</div>

  		<div class="row">
			<div class="tecla" data-row="3" data-collumn="1" ></div>
			<div class="tecla" data-row="3" data-collumn="2" ></div>
			<div class="tecla" data-row="3" data-collumn="3" ></div>
			<div class="tecla" data-row="3" data-collumn="4" ></div>
  		</div>

  		<div class="row">
			<div class="tecla" data-row="4" data-collumn="1" ></div>
			<div class="tecla" data-row="4" data-collumn="2" ></div>
			<div class="tecla" data-row="4" data-collumn="3" ></div>
			<div class="tecla" data-row="4" data-collumn="4" ></div>
  		</div>
	</div>

</template>