<template name="game">
	<div class="tablero">
		<div class="row">
			<div class="tecla" id="tecla_00" ></div>
			<div class="tecla" id="tecla_01" ></div>
			<div class="tecla" id="tecla_02" ></div>
			<div class="tecla" id="tecla_03" ></div>
  		</div>

  		<div class="row">
			<div class="tecla" id="tecla_04" ></div>
			<div class="tecla" id="tecla_05" ></div>
			<div class="tecla" id="tecla_06" ></div>
			<div class="tecla" id="tecla_07" ></div>
  		</div>

  		<div class="row">
			<div class="tecla" id="tecla_08" ></div>
			<div class="tecla" id="tecla_09" ></div>
			<div class="tecla" id="tecla_10" ></div>
			<div class="tecla" id="tecla_11" ></div>
  		</div>

  		<div class="row">
			<div class="tecla" id="tecla_12" ></div>
			<div class="tecla" id="tecla_13" ></div>
			<div class="tecla" id="tecla_14" ></div>
			<div class="tecla" id="tecla_15" ></div>
  		</div>
	</div>

</template>